@tailwind base;
@tailwind components;
@tailwind utilities;
.group:hover .group-hover\:rotate-y-\[-20deg\] {
    transform: rotateY(-20deg);
  }
  .perspective {
    perspective: 1000px;
  }
  .group:hover .group-hover\:rotate-y-\[-150deg\] {
    transform: rotateY(-150deg);
  }
  